<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.lavila.androidApp">

    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Part2Registro"
                android:label="@string/title_activity_part2_registro"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".EventosP">
        </activity>
        <activity android:name=".Registro2">
        </activity>
        <activity android:name=".Registro">
        </activity>
        <activity android:name=".Inicio_sesion">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>